@using ST10242585_EDIZ_YURDAKUL_PROG7311POE_PART_2.Models
@model User
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Login</title>

     <style>
         .container {
             min-height:100vh;
             display: flex;
             justify-content: center;
         }
     </style>
</head>

<body>
    <section class="container">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 mt-5">
                    <h2>
                        Harvest Connect
                    </h2>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        <div class="">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="w-100">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control " })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-outline mb-3">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
